
<tr>
  <td data-th="Product">
    <div class="row">
      <div class="col-md-3 text-end">
        <img src="../../../../assets/images/placeholder-product.jpg" alt="" class="img-fluid">
      </div>
      <div class="col-md-9 text-end  mt-sm-2">
        <h4 style="width:60%">Product Name</h4>
        <p>York &amp; Smith</p>
      </div>
    </div>
  </td>
  <td style="width:12%" data-th="Price">$49.00</td>
  <td tyle="width:10%" data-th="Quantity">
    <input type="number" class="form-control text-center" value="1">
  </td>
  <td class="actions" data-th="">
    <div class="text-right">
      <button class="btn btn-white btn-md mb-2"><i class="bi bi-arrow-repeat"></i></button>
      <button class="btn btn-white btn-md mb-2"><i class="bi bi-trash"></i></button>
    </div>
  </td>
</tr>
